body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: slategray;
}

.header{
  width: auto;
  height: 12.5vh;
  text-align: center;
  font-size: 70px;
  background: #1abc9c;
  color: white;
}

/* add task and back button */
.left{
  height: 12.5vh;
  width:  15vw;
  float: left;
}

/* points and page titles */
.center{
  text-align: center;
  font-size: 14vw;
  color: white;
}

/* calendar icon*/
.right{
  float: right;
  height: 12vh;
  width:  13vw;
  margin-right: 0.5vw;
}

.task-wrapper{
  width: 100%;
  background: #1abc9c;
}

.big-column{
  width:30vw;
  font-size: 20px;
  text-align: center;
  color: white;
}

.small-column{
  width:5vw;
  font-size: 20px;
  color: white;
}

.construction{
  width: 100%;
}


.taskname{
  font-size: 20px;
  text-align: center;
  color: white;
}

.shop-image-wrapper {
  float: right;
  height: 12vh;
  width:  14vw;
  margin-right: 0.5vw;
}

.calendar {
  width: 100%;
}

.timepicker{
	text-align: center;
}
.timedue{
	text-align: center;
	color: white;
	font-size: 10vw;
}
.addTaskButton{
	text-align: center;
}

input[type="text"]
{
	font-size:5vw;
}

button[type="button"]{
	font-size:5vw;
}

ul {
  list-style-type: none;
}

.month {
    padding: 10px 0;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month #prev {
    float: left;
    padding-top: 10px;
}

.month #next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

#days {
    padding: 10px 0;
    background: #eee;
    margin-left: 0;
}

#days li {
    list-style-type: none;
    display: inline-block;
    width: 13.2%;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
	margin-left: 0;
	text-align: center;
}

#days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}

#days li .inactive {
  color: #BBB;
}

.checkbox{
	width: 60px;
	height: 60px;
	border: 5px solid white;
	border-radius: 50%;
}

/*formatting for items on the Shop page*/

.container {
  padding: 20px;
  padding-top: 100px;
  text-align: center;
}

.container .bird-image-wrapper {
  width: 60%;
}

.container .fox-image-wrapper {
  width: 70%;
  padding-bottom: 15px
}

.container .cat-image-wrapper {
  width: 60%;
  padding-bottom: 19px
}

.container .panda-image-wrapper {
  width: 60%;
  padding-bottom: 2px
}

.container .product {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 240px;
  display: inline-block;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0.45);
  margin: 20px;
  padding: 10px;
}

.container .product h2 {
  text-align: left;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
}
.container .product .description {
  float: left;
  text-align: left;
  font-size: 13px;
  color: #fff;
  max-height: 23px;
  display: inline-block;
}
.container .product .price {
  float: left;
  font-size: 18px;
  color: #fff;
  margin-bottom: 6px;
  display: inline-block;
}
.container .product .btn {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  float: right;
  padding: 10px;
  border: 2px solid #00fefe;
  border-radius: 20px;
  color: #00fefe;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.container .product .btn.ok {
  background-color: rgba(0, 254, 254, 0.4);
  color: #fff;
}
.container .product .btn.ok:after {
  content: "\e080";
  color: #fff;
}

/*adds hover effects to buttons*/
.container .product .btn:hover {
  padding-right: 25px;
}
.container .product .btn:hover:after {
  margin-left: 5px;
}
.container .product .btn:after {
  font-family: "simple-line-icons";
  content: "<";
  transition: all 0.2s ease;
  position: absolute;
  color: #00fefe;
  margin-left: 30px;
  transition: all 0.2s ease;
}
