body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: slategray;
}

.header{
  width: auto;
  height: 12.5vh;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/* add task and back button */
.left{
<<<<<<< HEAD
<<<<<<< HEAD
  height: 10vh;
=======
  height: 12.5vh;
  width:  15vw;
>>>>>>> parent of fa636d4... Scaling
=======
  height: 12.5vh;
>>>>>>> parent of 4dbd6b5... Scaling Fix?
  float: left;
}

/* points and page titles */
.center{
  text-align: center;
  font-size: 14vw;
  color: white;
<<<<<<< HEAD
<<<<<<< HEAD
  font-size: 50px;
  display: inline-block;
<<<<<<< HEAD
  margin-top: 1.5vh;
=======
>>>>>>> parent of fa636d4... Scaling
=======
>>>>>>> parent of b648f1b... moved points down a little
=======
  font-size: 100px;
  display: inline-block;
  margin-top: 2vh;
>>>>>>> parent of d15a277... More font stuff
}

/* calendar icon*/
.right{
  float: right;
<<<<<<< HEAD
<<<<<<< HEAD
  height: 10vh;
=======
  height: 12vh;
  width:  13vw;
>>>>>>> parent of fa636d4... Scaling
=======
  height: 12vh;
>>>>>>> parent of 4dbd6b5... Scaling Fix?
  margin-right: 0.5vw;
}

.task-wrapper{
  width: 100%;
  background: #1abc9c;
}

.big-column{
  width:30vw;
  font-size: 20px;
  text-align: center;
  color: white;
}

.small-column{
  width:5vw;
  font-size: 20px;
  color: white;
}

.construction{
  width: 100%;
}


.taskname{
  font-size: 20px;
  text-align: center;
  color: white;
}

.shop-image-wrapper {
  float: right;
  height: 12vh;
  width:  14vw;
  margin-right: 0.5vw;
}

.calendar {
  width: 100%;
}

.timepicker{
	text-align: center;
}
.timedue{
	text-align: center;
	color: white;
	font-size: 10vw;
}
.addTaskButton{
	text-align: center;
}

input[type="text"]
{
	font-size:5vw;
}

button[type="button"]{
	font-size:5vw;
}

ul {
  list-style-type: none;
}

.month {
    padding: 10px 0;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month #prev {
    float: left;
    padding-top: 10px;
}

.month #next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

#days {
    padding: 10px 0;
    background: #eee;
    margin-left: 0;
}

#days li {
    list-style-type: none;
    display: inline-block;
    width: 13.2%;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
	margin-left: 0;
	text-align: center;
}

#days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}

#days li .inactive {
  color: #BBB;
}

.checkbox{
	width: 60px;
	height: 60px;
	border: 5px solid white;
	border-radius: 50%;
}

/*formatting for items on the Shop page*/

.container {
  padding: 20px;
  padding-top: 100px;
  text-align: center;
}

.container .bird-image-wrapper {
  width: 60%;
}

.container .fox-image-wrapper {
  width: 70%;
  padding-bottom: 15px
}

.container .cat-image-wrapper {
  width: 60%;
  padding-bottom: 19px
}

.container .panda-image-wrapper {
  width: 60%;
  padding-bottom: 2px
}

.container .product {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 240px;
  display: inline-block;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0.45);
  margin: 20px;
  padding: 10px;
}

.container .product h2 {
  text-align: left;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
}
.container .product .description {
  float: left;
  text-align: left;
  font-size: 13px;
  color: #fff;
  max-height: 23px;
  display: inline-block;
}
.container .product .price {
  float: left;
  font-size: 18px;
  color: #fff;
  margin-bottom: 6px;
  display: inline-block;
}
.container .product .btn {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  float: right;
  padding: 10px;
  border: 2px solid #00fefe;
  border-radius: 20px;
  color: #00fefe;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.container .product .btn.ok {
  background-color: rgba(0, 254, 254, 0.4);
  color: #fff;
}
.container .product .btn.ok:after {
  content: "\e080";
  color: #fff;
}

/*adds hover effects to buttons*/
.container .product .btn:hover {
  padding-right: 25px;
}
.container .product .btn:hover:after {
  margin-left: 5px;
}
.container .product .btn:after {
  font-family: "simple-line-icons";
  content: "<";
  transition: all 0.2s ease;
  position: absolute;
  color: #00fefe;
  margin-left: 30px;
  transition: all 0.2s ease;
}

/*calendar css*/
table {
  font-family: sans-serif;
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  table-layout: fixed;
  margin-bottom: 50px;
}
table thead tr th {
  background: #626E7E;
  color: #d1d5db;
  padding: 0.5em;
  overflow: hidden;
}
table thead tr th:first-child {
  border-radius: 3px 0 0 0;
}
table thead tr th:last-child {
  border-radius: 0 3px  0 0;
}
table thead tr th .day {
  display: block;
  font-size: 3.5vw;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0 auto 5px;
  padding: 5px;
  line-height: 1.8;
}
table thead tr th .day.active {
  background: #d1d5db;
  color: #626E7E;
}
table thead tr th .short {
  display: none;
}
table thead tr th i {
  vertical-align: middle;
  font-size: 2vw;
}
table tbody tr {
  background: #d1d5db;
}
table tbody tr:nth-child(odd) {
  background: #c8cdd4;
}
table tbody tr:nth-child(4n+0) td {
  border-bottom: 1px solid #626E7E;
}
table tbody tr td {
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid #626E7E;
  position: relative;
  height: 32px;
  cursor: pointer;
}
table tbody tr td:last-child {
  border-right: 1px solid #626E7E;
}
table tbody tr td.hour {
  font-size: 3vw;
  padding: 0;
  color: #626E7E;
  background: #fff;
  border-bottom: 1px solid #626E7E;
  border-collapse: separate;
  min-width: 100px;
  cursor: default;
}

table thead tr th .long {
    display: none;
    font-size: 3vw;
  }
table thead tr th .short {
    display: block;
    font-size: 3vw;
}

#active{
	font-weight: bold;
}
